.app-container {
  display: flex;
}
.content {
  width: 100%;
}

.sidebar {
  min-height: 500px;
}
.post_card {
  margin: 20px 20px;
}
.hashtag {
  margin: 1px 5px;
  padding: 10px;
}
.reaction {
  width: 100%;
  padding: 10px;
}
.createpost {
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
}
.createbutton {
  margin-left: 50%;
}

.spinner {
  margin-top: 10%;
}
